build/
build-*/
cmake-build-*/
compile_commands.json
CMakeUserPresets.json
.cache/
.clangd/
.idea/
.DS_Store
*.d
*.o
*.obj
*.slo
*.lo
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.ilk
*.pdb
*.dwo
*.gch
*.pch
*.mod
*.smod
*.lai
*.la
.ninja_deps
.ninja_log
